In [3]:
import pandas as pd

df = pd.read_csv("optimization_table.csv")
df

,Unnamed: 0,t,vb,vg,qe,dcr,dt,ap,bif
0,0,-50.0,74.545570,0.0,0.05,90.801318,0.000006,0.161668,0.036075
1,1,-50.0,74.607344,100.0,0.05,122.941880,0.000006,0.183194,0.030621
2,2,-50.0,74.261589,200.0,0.05,95.229954,0.000006,0.106311,0.021040
3,3,-50.0,73.800836,300.0,0.05,39.621266,0.000006,0.059638,0.015322
4,4,-50.0,73.599166,400.0,0.05,53.592218,0.000006,0.173222,0.020489
...,...,...,...,...,...,...,...,...,...
358,358,-40.0,74.538763,600.0,0.15,427.678931,0.000004,0.459578,0.021125
359,359,-40.0,74.189421,700.0,0.15,366.335512,0.000006,0.458757,0.015776
360,360,-40.0,74.104833,800.0,0.15,444.363676,0.000006,0.663156,0.018148
361,361,-40.0,73.767485,900.0,0.15,356.599344,0.000006,0.376659,0.015173
362,362,-40.0,73.516781,1000.0,0.15,290.004105,0.000004,0.126202,0.013668

In [4]:
df.columns

Index(['Unnamed: 0', 't', 'vb', 'vg', 'qe', 'dcr', 'dt', 'ap', 'bif'], dtype='object')