In [1]:
import pandas as pd

df = pd.read_csv("optimization_table.csv")
df

,Unnamed: 0,t,vb,vg,qe,dcr,dt,ap,bif
0,0,-50.0,74.545570,0.0,5.0,90.801318,6.135,0.161668,3.607539
1,1,-50.0,74.607344,100.0,5.0,122.941880,6.065,0.183194,3.062140
2,2,-50.0,74.261589,200.0,5.0,95.229954,6.220,0.106311,2.104011
3,3,-50.0,73.800836,300.0,5.0,39.621266,5.985,0.059638,1.532211
4,4,-50.0,73.599166,400.0,5.0,53.592218,5.920,0.173222,2.048949
...,...,...,...,...,...,...,...,...,...
358,358,-40.0,74.538763,600.0,15.0,427.678931,3.855,0.459578,2.112463
359,359,-40.0,74.189421,700.0,15.0,366.335512,6.335,0.458757,1.577610
360,360,-40.0,74.104833,800.0,15.0,444.363676,5.910,0.663156,1.814794
361,361,-40.0,73.767485,900.0,15.0,356.599344,6.130,0.376659,1.517304
362,362,-40.0,73.516781,1000.0,15.0,290.004105,3.915,0.126202,1.366793

In [2]:
df.columns

Index(['Unnamed: 0', 't', 'vb', 'vg', 'qe', 'dcr', 'dt', 'ap', 'bif'], dtype='object')